.container {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}

.standard {
  max-width: var(--container-max-measure);
}

.wide {
  max-width: var(--container-max-width);
}
